

#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar{
  background-image: linear-gradient(to right, #5f1782, #000000);

}

.navbar-brand img{
  height: 35px;
}

.navbar-brand b{
  color: white;
}

.navbar-nav li{
  padding: 0 10px;
}

.navbar-nav li a{
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.navbar-nav li a:hover{
  color: #d22f30;
}

.fa-bars{
  color: #fff;
  font-size: 30px !important;
}

.navbar-toggler{
  outline: none !important;
}


/* Banner Section */

#banner{
  background-image: linear-gradient(to right, #5f1782, #000000);
  color: #fff;
  padding-top: 5%;
}

.promo-title{
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}

.play-btn{
  width: 35px;
  margin: 20px;
}

#banner a{
  color: #fff;
  text-decoration: none;
}

.img-fluid{
  width: 600px;
  padding-top: 50px;
}

.bottom-img{
  width: 100%;
  height: 200px;
}

/* Services Section */

#services{
  padding: 80px 0;
}

.service-img{
  width: 100px;
  margin-top: 20px;
}

.services{
  padding: 20px;
}

.services h4{
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.main-title{
  font-size: 2rem;
  font-weight: 600;
}

.main-title::before{
  content: '';
  background: #7b1798;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(58px);
}

.main-title::after{
  content: '';
  background: #7b1798;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-bottom: 40px;
  margin-right: auto;
  display: block;
  transform: translateY(2px);
}

#services .btn-primary{
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #5f1782, #000000);
}

/* About Us Section */

#about-us{
  background: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-title{
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 8%;
  margin-left: 30px;
}

#about-us ul li{
  margin: 10px 0;
}

#about-us ul{
  margin-left: 20px;
}

#about-us .img-fluid{
  width: 335px;
  padding-top: 60px;
}

/* testimonial Section */

#testimonials{
  margin: 100px 0;
}

.testimonials{
  border-left: 4px solid #7b1798;
  margin-top: 50px;
  margin-bottom: 50px;
}

.testimonials img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
}

.user-details{
  display: inline-block;
  font-synthesis: 12px;
}

/* social-media */

#social-media{
  background: #f8f9fa;
  padding: 100px 0;
}

#social-media p{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.social-icons img{
  width: 60px;
  transition: 0.5s;
}

.social-icons a:hover img{
  transform: translateY(-10px);
}

/* About Us Section */

#footer{
  background-image: linear-gradient(to right, #5f1782, #000000);
  color: #fff;
}

.footer-img{
  width: 100%;
  height: 200px;
}

.footer-box{
  padding: 20px;
}

.footer-box img{
  width: 50px;
}

.footer-box .fas{
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #5f1782, #000000);
}

.footer-box .form-control{
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}

.footer-box .btn-primary{
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  background-image: linear-gradient(to right, #5f1782, #000000);
}

hr{
  background-color: #fff;
}

.copyright{
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}